<div id="dashboard-container">

  <div class="container-fluid">

    <div class="row" *ngIf="! selectedBandData">
      <mat-spinner></mat-spinner>
    </div>

    <div class="row">

      <div class="col-sm-3 col-md-2" *ngIf="selectedBandData">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{ selectedBand.name }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ selectedBandData.description }}
              </mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="selectedBandData.cover" mat-card-image src="{{ selectedBandData.cover.source }}">
            <mat-card-content>
                <p>
                  {{ selectedBandData.about }}
                </p>
                <hr>
                <span><b>Admins</b></span>
                <br>
                <br>
                <div *ngFor="let admin of selectedBandData.roles.data">

                  <h6>
                    <a target="_blank" href="https://www.facebook.com/{{ admin.id }}">
                      <mat-icon color="accent" style="font-size: 1.2em">person_outline</mat-icon>
                      {{ admin.name }}
                    </a>
                  </h6>
                </div>
              </mat-card-content>

          </mat-card>
      </div>

      <div class="col-sm-9 col-md-10" *ngIf="selectedBandData">
        <h1>Da vidimo test</h1>
      </div>

    </div>
  </div>
</div>