/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

mat-spinner {
    margin: auto;
    width: 50%;
    text-align: center;
}

/* Ngx Datatable */
.datatable-body-row.active .datatable-row-group {
    background: #e1bee7!important;
}

.datatable-body-row:hover {
    cursor: pointer;
}